.DS_Store
*/.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
db/schema.rb
db/sphinx/**/*
.bundle
log/development.log
log/cucumber.log
log/test.log
log/production.log
tmp/pids/server.pid
capybara-*.html
vendor/cache
relock/
config/development.sphinx.conf
log/searchd*
config/development/sphinx.conf
db/sphinx/*