<% unless organisation_signed_in? %>
	<%= render :partial => 'organisations/claim' %>
	<p class="login"><%= link_to "Event organiser login", organisation_session_url %></p>
<% else %>
	<p><%= link_to 'My Events' || current_organisation.email, organisation_path(current_organisation), :class => 'awesome blue small' %></p>
	<%= link_to "Sign out?", destroy_organisation_session_url %></p>
<% end %>
