<div class="messages">
	<div class="info bigtext">
		<p>Are you an event organiser?</p>		
		<%= link_to "Sign in to manage your events", claim_org_path, :class => "large-b white awesome"%>
	</div>
</div>
