<% unless organisation_signed_in? %>
<div id="messages">
	<p class='info bigtext centred'>
		<strong>Are you an events organiser?</strong>
		<%= render :partial => 'organisations/claim' %>
	</p>
</div>
<% end %>