<div id="messages">
	<p class='info bigtext centred'>
		<strong>Are you an events organiser?</strong>
		<%= link_to "claim your events", claim_org_path, :class => "awesome scheme-2 medium-b bump" %>
	</p>
</div>
