<h1><%= @organisation.name %></h1>

<p>
  <b>Url:</b>
  <%= @organisation.url %>
</p>

<% if current_organisation == @organisation %>
<%= link_to "Edit", edit_organisation_registration_path %>
<% end %>


<%= render :partial => 'events/events_list', :locals => { :events => @events } %>
