body {
	background: #C1E1ED;
}

a {
	/*color: #fca961;*/
	color: #ED8E3B;
}

a:hover {
	color: #ff5c00;
}

#doc, #doc2, #doc3, #doc4 {
	background: #fff;
	padding: 0 10px 0 10px;
}

img.logo {
}

#hd {
	padding: 20px 20px 0 20px;
}

#mast h1 {
	margin: 0;
}
	#strapline {
		/*color: #545454;*/
		color: #9a9a9a;
		width: 350px;
		border-top: 2px solid #eee;
		padding: 5px 0 0 0;
		line-height: 1em;
		font-size: 1.4em;
		text-align: justify;
	}

#user p {
	text-align: right;
	font-size: 1.2em;
}
	#user p a {
	}
		
.hide {
	display: none;
}

.events {
}

#messages .error, #messages .info, #messages .success {
	margin: 10px;
	padding: 10px;
	border: 2px solid;	
}
	#messages .info {
		background: #eee;
		border-color: #ccc;
	}
	#messages .error {
		background: #FFDFDF;
		border-color: #F3AFB5;
	}
	#messages .success {
		background: #C8FFBF;
		border-color: #A2EF95;
	}

/* Event
************************/	
.event {
	border-top:1px solid #E0DED6;
	list-style:none outside none;
	margin:0;
	padding-top:10px;
	overflow:hidden;
}
	.event:hover {
		background-color: #FFFDED;
	}
	.event .title  {
		font-size: 1.4em;
		cursor: pointer;
		color: #000;
	}
		.event .title a {
			text-decoration: none;
		}

.expanded {
}	

/* Quick preview
************************/
.event .preview {
	display: none;
	background-color: #fff;
	border: 6px solid #eee;
	border-top: 0;
	clear:both;
	overflow:auto;
	padding: 10px 0 10px 0;
}
/* Block-level proportions and macro-layout */
	.event .preview .description
	{
		width: 350px;
		float:left;
		margin-left:20px;
	}
	.event .preview .comments {
		width: 220px;
		float:left;
		margin-left: 20px; 
	}
		.event .preview .comments .commentator {
			font-size:0.9em;
			text-align:right;
		}
	.event .preview .others  {
		margin-right: 20px;
		width:200px;
		float:right;
	}
		.event .preview h4 {
			font-size: 1.2em;
			border-bottom: 1px solid #ddd;
		}


/* Pagination
************************/

.pagination {
	text-align: center;
	border: 2px solid #DFEDFF;
	background-color: #EFF6FF;
	margin: 25px 0 25px 0;
	padding: 10px;
	font-size: 1.3em;
}

/* Search
************************/
#search {
	text-align: center;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: none;
	background-color: #666;
	border: 3px solid #777;
	color: white;
	padding: 1em 2em 1.5em 2em;
	margin: 0 20px 4em 20px;
}
	#search.searched {
		color: #666;
		background-color: #ddd;
		border: 3px solid #eee;
	}
	#search #q {
		width: 25em; font-size: 1.8em;
		margin: 0 0.5em 0 0;
		position: relative;
		top: 3px;
	}
h3.list-hd {
	color: #bbb;
	padding: 0 20px 0 20px;
}
#search .prompt {
	font-size: 1.6em;
	line-height: 1.5em;
	/*margin: 0 0 .1em 0;*/
}	
#search .hint {
	color: #aaa;
}
	
/* Awesome buttons
************************/

.awesome, .awesome:visited {
	background: #222 url(/images/buttons/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover									{ background-color: #111; color: #fff; }
.awesome:active									{ top: 1px; }

.small-b.awesome, .small-b.awesome:visited 		{ font-size: 11px; margin: 0 0 .5em 0; }
.awesome, .awesome:visited,
.medium-b.awesome, .medium-b.awesome:visited 	{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large-b.awesome, .large-b.awesome:visited 		{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited			{ background-color: #91bd09; }
.green.awesome:hover							{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited			{ background-color: #2daebf; }
.blue.awesome:hover								{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited				{ background-color: #e33100; }
.red.awesome:hover								{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.light-orange.awesome, .orange.awesome:visited	{ background-color: #fca961; }
.light-orange.awesome:hover						{ background-color: #ff5c00; }
.white.awesome, .orange.awesome:visited			{ background-color: #eee; color: #999; }
.white.awesome:hover							{ background-color: #999; color: #fff; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

button {
	border:0 none;
}