<%= render :partial => 'events/search' %>
<h2><%= verbalise_filters @events %></h2>
<% unless SearchFilter.filter_index[:event_filter].current_filters.length == 0 %>
  <p class='hint'><%= link_to "View all events", events_path %></p>  
<% end %>

<%= render :partial => 'events/events_list', :locals => { :events => @events } %>
