<%= render :partial => "events/event_list_heading", :locals => { :events => events } %>

<div id="wrap" class="events">
  <% unless events.empty? %>
    <ul class="events-list">
		<li class="grid24col clearboth">
			<span class="subtle title left grid11col">
				Event Title
			</span>	

			<ul class="subtle grid9col byline left">
				<li class="grid3col left">
					Topic
				</li>
				<li class="grid3col left">
					Event type
				</li>
				<li class="grid3col left">
					Organiser
				</li>
			</ul>

			<!-- date -->
			<span class="grid3col right marginleft  subtle">
			</span>
		</li>
		<% events.each do |event| %>
			<%= render :partial => "events/#{@list_type}event", :locals => { :event => event } %>
		<% end %>
  	</ul>
  <% else %>
	<%= render :partial => "events/event_list_empty" %>
  <% end %>
</div>	
<%= will_paginate events %>
