<!-- star -->
<span class="star grid2col left">
	<% if person_signed_in? and event.starred?(current_person) %>
		<%= render :partial => "events/link_unstar", :locals => { :event => event } %>
	<% else %>
		<%= render :partial => "events/link_star", :locals => { :event => event } %>
	<% end %>
</span>
