<%= render :partial => "events/event_list_heading", :locals => { :events => events } %>

<div id="wrap" class="events">
  <% unless events.empty? %>
    <ul class="events-list">
		<% events.each do |event| %>
			<%= render :partial => "events/#{@list_type}event", :locals => { :event => event } %>
		<% end %>
  	</ul>
  <% else %>
	<%= render :partial => "events/#{@list_type}event", :locals => { :event => event } %>
  <% end %>
</div>	
<%= will_paginate events %>
