<%
#= week 
#disable week heading for now
%>
<li id="event-<%= event.id %>" class="event grid24col clearboth">
	<%= render :partial => "events/event_star", :locals => { :event => event } %>

	<!-- title -->
	<span class="title left grid15col">
		<h3 title="Show more info">
			<%= event.title %>
		</h3>
		<ul class="subtle grid10col byline left">
			<li class="grid4col left">
				Topic: <a href="#blah">Accounting</a>
			</li>
			<li class="grid4col left">
				Event type: <a href="#blah">Seminar</a>
			</li>
			<li class="grid4col left">
				Organiser: <a href="#blah">Business Link</a>
			</li>
		</ul>
	</span>	

	<!-- date -->
	<span class="grid3col right marginleft  subtle">
		<strong><%= event.start_date.bd_date_format %></strong><br />
		London
	</span>
	
  </div>
	
</li>
