<%= render :partial => "admin/organisations/header" %>

<h1>Editing organisation</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_organisations_path(@organisation) %> |
<%= link_to 'Back', admin_organisations_path %>
